*{
    font-family:Arial, Helvetica, sans-serif;
}
#books-info-div{
    margin: 20px;
    padding: 10px;
    display: none;
    background-color: blanchedalmond;
    border-style: solid;
    width: 500px;
}
#selection-cover-size{
    margin: 10px;
    width: fit-content;
}