#night-day-button{
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgb(228, 224, 228);
}

button{
    border-color: rgb(41, 38, 41);
    padding: 10px;
    font-family:'Courier New', Courier, monospace
}
